{% extends 'header.html' %} 


{%block content%}

  <div class="" style=" height: 100%;   background-image: url(https://cdn.shopify.com/s/files/1/2442/0241/files/PuntaDelicia_HOME_2_1_adf7a984-dc00-4019-9a11-e2e79676e5be_1600x.jpg?v=1576622174); background-size: cover;" 	>
    <div class="full-bg-img">
      <div class="mask rgba-black-light flex-center">
        <div class="container text-center white-text">
          <div class="white-text text-center wow fadeInUp">
            <h1>Bienvenido al sistema de monitoreo de bananos</h1>
            <h3>Para nosotros es un placer servirle</h3>
            <br>
            <h5>Dedicamos todos nuestros esfuerzos en ofrecer los mejores servicios a nuestros clientes </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}